#
# https://github.com/wg-easy/wg-easy
#
---
services:
#
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: wg-easy
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UID: "${PUID}"
      GID: "${PGID}"
      TZ: "${TZ}"
      HOST: "0.0.0.0"
    #  - PORT=51821
    #  - HOST=0.0.0.0
    #  - INSECURE=false
    volumes:
      #- etc_wireguard:/etc/wireguard
      - ${LOCVOL1}wg-easy:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      # - NET_RAW # Uncomment if using Podman
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
#
networks:
  default:
    name: ${CONNET}
    external: true
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64